{% extends "base2.html" %}

{% block extra_head %}

<link href="/static/login2_css/animate.min.css" rel="stylesheet">
  <!-- Custom styling plus plugins -->
<link href="/static/login2_css/custom.css" rel="stylesheet">
<link href="/static/login2_css/icheck/flat/green.css" rel="stylesheet">

<style type="text/css">
/*form {
display: inline;
}*/

</style>

{% endblock %}

{% block content %}

<a class="hiddenanchor" id="toregister"></a>
<a class="hiddenanchor" id="tologin"></a>
<div id="wrapper">
      <div id="login" class="animate form">
        <section class="contact_content">
          <form>
          <h1>SmartSecure Contact</h1>
          <div class="clearfix"></div>
          <br />

          <table class="table left_align">
            <tr>
              <th> Name </th>
              <th> Email id </th>
              <th> Phone number </th>
            </tr>
            <tr>
              <td> Apoorva Gouni </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td> Mallika Adinath Kulkarni</td>
              <td> mallikak2709@gmail.com</td>
              <td> 408 442 7994 </td>
            </tr>
            <tr>
              <td> Poornima Vijaylaxmi Sanjeevi </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td> Tania Chanda</td>
              <td> taniachanda86@gmail.com</td>
              <td> 650 305 9007</td>
            </tr>
          </table>
          </form>
          <div class="separator">
            <div class="clearfix"></div>
            <br />
            <p class="change_link">New to site?
            <a href="/register" class="to_register"> <span class="text-primary">Create Account </span></a>
            </p>
            <div class="clearfix"></div>
            <br />
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            
            <p class="change_link">Already a member ?
            <a href="/login"> <span class="text-primary"> Log in </span></a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <p>©2016 All Rights Reserved. SmartSecure Privacy and Terms</p>
            </div>
          </div>
        </section>
        <!-- content -->
      </div>
</div>


<!-- Javascript -->
        <!-- <script src="static/js/jquery-2.2.2.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.backstretch.min.js"></script>
        <script src="static/js/scripts.js"></script> -->
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
{% endblock %}
